<section id="download" class="content-section text-center">
    <div class="row download-section">
        <div class="container">
            <div class="col-lg-9 col-lg-offset-2">
                <h2>Download Hubzilla</h2>
                <p>Hubzilla servers run on Linux and PHP.<br/>It is free and open source software, protecting <i>your</i> rights with an MIT license.</p>
                <a href="https://github.com/redmatrix/hubzilla/#hubzilla---community-server" class="btn btn-default btn-lg">Get the code</a>
            </div>
        </div>
    </div>
</section>