<section id="learn" class="content-section text-center">
    <div class="row learn-section">
      <div class="container">

        <div class="col-lg-6 col-md-6">
            <img src="https://grid.reticu.li/cloud/hubzilla/hubzilla-project-website/img/decentralisation.png" class="img-responsive">
            <div style="position:absolute ; top: 20%; right: 5%; color:#555555; width:50%;">
            </div>
            <div style="position:absolute ; bottom: 3%; left: 5%; color:#007A9A; width:55%;">
            </div>
        </div>
        <div class="col-lg-6 col-md-6">
            <h2>Decentralized network of hubs: the grid</h2>

            <p>    Hubs are the servers that communicate with one another to propagate information across the network, or "grid". There is no central hub or single point of failure. Hubs can be connected to as many or as few other hubs as desired.
            </p>
            <h2>Channels and Connections</h2>

            <p>    A channel is the fundamental (id)entity on the grid. A channel can represent many different things: a person, a blog, or a forum to name a few. Channels can make connections with other channels to share information with highly detailed permissions. Channels are addressed using a familiar channel@hub.domain format. 
            </p>
            <h2>Nomadic Identity and Cloning</h2>

            <p>    Nomadic identity means true ownership of online identity. With Hubzilla, you don't have an account on a server, you own an identity that you can take with you across the grid. You can clone a channel across multiple hubs for resilience against network failures or censorship, or you can completely move a channel from one hub to another, taking your data and connections with you.
            </p>
        </div>
      </div>
    </div>

    <div class="row learn-section">
      <div class="container">
        <div class="col-lg-6 col-md-6">
            <h2>Access control across the web</h2>

            <p>
                Typical websites are isolated and have no idea who is accessing their content, and controlled access to data is limited to permissions settings between individual accounts on a site. If you want to share information in a controlled way off-site, you're out of luck. Hubzilla enforces fine-grained permissions for information shared across the grid, and websites on hubs are identity-aware. Single sign-on allows seamless authentication across independent websites in a way never before possible.
            </p>

            <h2>Got Zot?</h2>

            <p>Zot is a JSON-based web framework for implementing secure decentralised communications and services. 
                It differs from many other communication protocols by building  communications on top of a 
                decentralised identity and authentication framework. The authentication component is similar to 
                OpenID conceptually but is insulated from DNS-based identities. Where possible remote authentication 
                is silent and invisible. This provides a mechanism for internet scale distributed access control 
                which is unobtrusive.</p>
            <ul class="centered-list">
                <li>completely decentralised communications</li>
                <li>insulation from DNS based identity</li>
                <li>node mobility</li>
                <li>invisible or reduced "interaction" remote authentication</li>
                <li>performance</li>
            </ul>
        </div>

        <div class="col-lg-6 col-md-6">
            <img src="https://grid.reticu.li/cloud/hubzilla/hubzilla-project-website/img/access_control.png" class="img-responsive">
            <div style="position:absolute ; bottom: 0%; left: 25%; color:#007A9A; width:70%; background-color: #FFF;">
            </div>
        </div>
    </div>
  </div>
</section>