<div class="intro-body">
	<div class="container">
		<div class="row">
			<div>
				<img class="img-responsive hubzillabanner" src="https://grid.reticu.li/cloud/hubzilla/hubzilla-project-website/img/newhubzillabanner.png"/>
			</div>
		</div>
		<div class="row">
			<div>
				<p class="intro-text">A supercommunity of connected community websites</p>
				
				<p class="lead">Hubzilla provides &ldquo;hubs&rdquo; for communities, clubs, and groups &mdash; everything you need to give a community an online space.</p>
				<p class="lead-append">(calendar / events, forums &amp; noticeboard, wikis, chat rooms, website creation, photos, file sharing etc. all in one package, all working together)</p>
				
				<p class="lead">Hubzilla provides non&hyphen;commercialized social media &mdash; within and across hubs, and across other open social networks.</p>
				<ul class="lead-append horiz-bullet-list centered-list">
					<li>strong privacy controls</li>
					<li>tools for everyone to publish their own content</li>
				</ul>

			</div>
		</div>
		<div class="row"  style="padding-top: 50px;">
			<div class="col-lg-12 col-md-12 col-sm-12">
				<ul class="list-inline banner-social-buttons">
					<li><a class="btn btn-default btn-lg" href="https://hubzilla.site/register">Try a demo</a></li>
					<li><a class="btn btn-default btn-lg" href="/register/">Join this hub</a></li>
					<li><a class="btn btn-default btn-lg" href="https://github.com/redmatrix/hubzilla/#hubzilla---community-server">Run your own hub</a></li>
				</ul>
			</div>

			<div class="col-lg-12 col-md-12 col-sm-12" style="padding-top: 50px;">
				<a href="#learn" class="btn btn-circle page-scroll">
					<i class="fa fa-angle-double-down animated"></i>
				</a>
			</div>

		</div>
	</div>
</div>