<section id="discover" class="content-section text-center">
    <div class="row discover-section">
        <div class="container">

            <div class="col-lg-3 col-sm-6">
                <img alt="img" class="img-circle center-block drop-shadow hover-zoom" src="https://grid.reticu.li/cloud/hubzilla/hubzilla-project-website/img/events.png" style="width: 200px; height: 200px;">
                <h3>Events</h3>
                <p class="text-justify">Coordinate and share calendar events with anyone using the native calendar functionality. Import/export between popular calendar formats.</p>
            </div>

            <div class="col-lg-3 col-sm-6">
                <img alt="img" class="img-circle center-block drop-shadow hover-zoom" src="https://grid.reticu.li/cloud/hubzilla/hubzilla-project-website/img/toolkit.png" style="width: 200px; height: 200px;">
                <h3>Webpage Building Toolkit</h3>
                <p class="text-justify">Use the Comanche webpage description language and the Webpages tool to build modular, identity-aware, and <i>shareable</i> web page elements.</p>
            </div>

            <div class="col-lg-3 col-sm-6">
                <img alt="img" class="img-circle center-block drop-shadow hover-zoom" src="https://grid.reticu.li/cloud/hubzilla/hubzilla-project-website/img/social.png" style="width: 200px; height: 200px;">
                <h3>Social Networking</h3>
                <p class="text-justify">Social networking is in Hubzilla's DNA, baked into its core. Use a channel to represent yourself and make connections (i.e., "friends") to share with others. Support for federation with Diaspora, Friendica and others via plugins.</p>
            </div>

            <div class="col-lg-3 col-sm-6">
                <img alt="img" class="img-circle center-block drop-shadow hover-zoom" src="https://hubzilladev.homenet.org/cloud/admin/public/wiki.png" style="width: 200px; height: 200px;">
                <h3>Wiki</h3>
                <p class="text-justify">Create, collaborate, and share using wikis. Wikis can be created for personal use, or for group collaboration.</p>
            </div>

        </div>
    </div>
    <div class="row discover-section">
        <div class="container">

<!--
            <div class="col-lg-3 col-sm-6">
                <img alt="img" class="img-circle center-block drop-shadow hover-zoom" src="https://grid.reticu.li/cloud/hubzilla/hubzilla-project-website/img/themes.png" style="width: 200px; height: 200px;">
                <h3>Themes</h3>
                <p class="text-justify">The web interface is highly customizable, with native support for theme development. Brand your hubs for <i>your</i> community or business.</p>
            </div>
-->
            <div class="col-lg-3 col-sm-6">
                <img alt="img" class="img-circle center-block drop-shadow hover-zoom" src="https://grid.reticu.li/cloud/hubzilla/hubzilla-project-website/img/filestorage.png" style="width: 200px; height: 200px;">
                <h3>Cloud File Storage</h3>
                <p class="text-justify">Connect your channel's file storage to your local filesystem using standard WebDAV. Share or publish your files with the ubiquitous fine-grained access control.</p>
            </div>

            <div class="col-lg-3 col-sm-6">
                <img alt="img" class="img-circle center-block drop-shadow hover-zoom" src="https://grid.reticu.li/cloud/hubzilla/hubzilla-project-website/img/plugins.png" style="width: 200px; height: 200px;">
                <h3>Plugins</h3>
                <p class="text-justify">Hubzilla is extensible. Build entire web apps as plugins and leverage the power of the grid to handle access control and data distribution.</p>
            </div>

            <div class="col-lg-3 col-sm-6">
                <img alt="img" class="img-circle center-block drop-shadow hover-zoom" src="https://grid.reticu.li/cloud/hubzilla/hubzilla-project-website/img/api.png" style="width: 200px; height: 200px;">
                <h3>API</h3>
                <p class="text-justify">A growing list of API functions enable independent apps to utilize hubs, extending the range of interconnected services on the grid to the limits of your imagination.</p>
            </div>

            <div class="col-lg-3 col-sm-6">
                <img alt="img" class="img-circle center-block drop-shadow hover-zoom" src="https://hubzilladev.homenet.org/cloud/admin/public/bulletinboard.png" style="width: 200px; height: 200px;">
                <h3>Forums</h3>
                <p class="text-justify">Announcement bulletin-boards and discussion forums are some of the many different uses Hubzilla channels can be put to.</p>
            </div>
<!--
            <div class="col-lg-3 col-sm-6">
                <img alt="img" class="img-circle center-block drop-shadow hover-zoom" src="https://grid.reticu.li/cloud/hubzilla/hubzilla-project-website/img/opensource.png" style="width: 200px; height: 200px;">
                <h3>Freedom</h3>
                <p class="text-justify">Hubzilla is open source! You have the freedom to use and modify the software to suit your needs. When it comes to privacy and data security, everyone should be able to review and improve the code.</p>
            </div>
-->
        </div>    
    </div>
</section>