<section id="social" class="content-section text-center">

	<div class="row social-section">
		<div class="container">
			<div class="col-sm-offset-2 col-sm-8">

				<h2>Hubzilla brings something new to social media...</h2>

				<p>Open source social networks face two <em>major</em> hurdles:</p>

				<img src="data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 128 128' fill='%23fff'%3E%3Ccircle r='29' cx='88' cy='42'/%3E%3Ccircle r='20' cx='30' cy='70'/%3E%3Ccircle r='15' cx='76' cy='100'/%3E%3Cpath d='M88 42L30 70l46 30z' fill='none' stroke='%23fff' stroke-width='5'/%3E%3C/svg%3E" width="150px" align="right">

				<ol class="centered-list">
					<li><p>The chicken/egg problem that alt. social media is simply not useful because none of your friends are on it.</p></li>
					<li><p>Not being able to trust that a social media server run by volunteers or a-friend-of-a-mate will still be running in 5 years time.</p></li>
				</ol>
					
				<br clear="all"/>
				<h3>Hubzilla solves both problems:</h3>

				<ol class="centered-list">
					<li>
						<p>Much like WordPress, Hubzilla is a content publishing platform, and nobody says "why would I use WordPress when none of my friends are on it?". Hubzilla has taken the best open social-network technologies and baked them into a platform you can use without any chicken/egg problem.</p>
						<p>Plus, if any friends use an existing open social-network, they are probably already &ldquo;on&rdquo; Hubzilla because Hubzilla is part of <a href="https://deadsuperhero.com/wiki/wedistribute/The+Federation/Home">The Federation</a> &mdash; interoperable and speaking many protocols.</p>
					</li>
					<li>
						<p>Zot means your identity &mdash; as well as the network of friends you build &mdash; is no longer tied to a single website, and you won't have to start over if your website is shut down. Your social network is not only independent of individual websites, it's independent of Hubzilla as well &mdash; you can invent new kinds of websites and services using Zot which can already be used by everyone with their existing identity, and remote authentication means not even having to type in a username or password to use the new site (&ldquo;Magic auth&rdquo;). There's no need for people to rebuild their network of friends to use your new website &mdash; they can import it from their Hubzilla hub.</p>
					
						<p>Your Hubzilla channel data and other content can be exported and imported. You are not locked in to any website.</p>
					</i>
				</ol>
			</div>
		</div>
	</div>

</section>